#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "wanderer"
name = "Wanderer"
description.en = "Self-hosted trail database. Save your adventures! "
description.fr = "Base de données de trails auto-hébergée. Sauvegardez vos aventures !"

version = "0.18.3~ynh12"

maintainers = ["Thovi98"]

[upstream]
license = "AGPL-3.0"
website = "https://wanderer.to/"
demo = "https://demo.wanderer.to/"
admindoc = "https://wanderer.to/getting-started/installation/"
userdoc = "https://wanderer.to/"
code = "https://github.com/Flomp/wanderer"
fund = "https://buymeacoffee.com/wanderertrails"

[integration]
yunohost = ">= 12.0.9"
helpers_version = "2.1"
architectures = "all"
multi_instance = false

ldap = false
sso = false

disk = "1G"
ram.build = "2G"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"
    
    [install.admin]
    type = "user"
    help.en = "You will be able to login for admin stuffs with the email of this user and the password you’ll set below."
    help.fr = "Vous pourrez vous connecter pour les tâches d’administrateur avec l’adresse courriel de cet utilisateur et le mot de passe configuré ci-dessous."

    [install.password]
    help.en = "Choose a password for your admin user here."
    help.fr = "Choisissez un mot de passe pour l’utilisateur admin ici."
    type = "password"

    [install.disable_signup]
    ask.en = "Enable sign up?"
    ask.fr = "Autoriser les inscriptions ?"
    type = "boolean"

[resources]

    [resources.sources]

    [resources.sources.main]
    url = "https://github.com/Flomp/wanderer/archive/refs/tags/v0.18.3.tar.gz"
    sha256 = "e7c1f988d13cfd0d7a5c3b3e415437084c34006d70f2d8fc63b7a72b3aedab9a"
    autoupdate.strategy = "latest_github_tag"

    [resources.sources.meili]
    amd64.url = "https://github.com/meilisearch/meilisearch/releases/download/v1.28.2/meilisearch-linux-amd64"
    amd64.sha256 = "3e8c2a8e84a0b2d1ad0e813767d6abfb341f5d898b58d3d41f3c8eb169dcc7f8"
    arm64.url = "https://github.com/meilisearch/meilisearch/releases/download/v1.28.2/meilisearch-linux-aarch64"
    arm64.sha256 = "236aade6653aa859a5a5dea8bf5c42fdb43bb532ee0ae6622826779b85a5b2d5"
    rename = "meilisearch"
    in_subdir = false
    extract = false

    autoupdate.strategy = "latest_github_release"
    autoupdate.upstream = "https://github.com/meilisearch/meilisearch"
    autoupdate.asset.amd64 = "^meilisearch-linux-amd64$"
    autoupdate.asset.arm64 = "^meilisearch-linux-aarch64$"

    [resources.system_user]
    allow_email = true

    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"

    pocketbase.url = "/admin"
    pocketbase.allowed = "admins"
    pocketbase.show_tile = false
    pocketbase.protected = true
    pocketbase.auth_header = false


    [resources.ports]
    meili.default = 7700
    pocketbase.default = 8090

    [resources.nodejs]
    version = "22"

    [resources.go]
    version = "1.23.2"
